<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/top-games" (click)="sidenav.close()">
        <span class="nav-caption">Top Games</span>
      </a>
      <a mat-list-item routerLink="/new-games" (click)="sidenav.close()">
        <span class="nav-caption">New Games</span>
      </a>
      <a mat-list-item routerLink="/slots" (click)="sidenav.close()">
        <span class="nav-caption">Slots</span>
      </a>
      <a mat-list-item routerLink="/jackpots" (click)="sidenav.close()">
        <span class="nav-caption">Jackpots</span>
      </a>
      <a mat-list-item routerLink="/live" (click)="sidenav.close()">
        <span class="nav-caption">Live</span>
      </a>
      <a mat-list-item routerLink="/blackjack" (click)="sidenav.close()">
        <span class="nav-caption">Blackjack</span>
      </a>
      <a mat-list-item routerLink="/roulette" (click)="sidenav.close()">
        <span class="nav-caption">Roulette</span>
      </a>
      <a mat-list-item routerLink="/table" (click)="sidenav.close()">
        <span class="nav-caption">Table</span>
      </a>
      <a mat-list-item routerLink="/poker" (click)="sidenav.close()">
        <span class="nav-caption">Poker</span>
      </a>
      <a mat-list-item routerLink="/other" (click)="sidenav.close()">
        <span class="nav-caption">Other</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()" onclick="this.blur()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxFlex fxLayout fxHide.xs class="navigation-items-container">
        <ul fxLayout fxLayoutAlign="space-between" fxFill class="navigation-items">
          <li fxFlex="10"><a routerLink="top-games" routerLinkActive="active" mat-button>Top Games</a></li>
          <li fxFlex="10"><a routerLink="new-games" routerLinkActive="active" mat-button>New Games</a></li>
          <li fxFlex="10"><a routerLink="slots" routerLinkActive="active" mat-button>Slots</a></li>
          <li fxFlex="10"><a routerLink="jackpots" routerLinkActive="active" mat-button>Jackpots</a></li>
          <li fxFlex="10"><a routerLink="live" routerLinkActive="active" mat-button>Live</a></li>
          <li fxFlex="10"><a routerLink="blackjack" routerLinkActive="active" mat-button>Blackjack</a></li>
          <li fxFlex="10"><a routerLink="roulette" routerLinkActive="active" mat-button>Roulette</a></li>
          <li fxFlex="10"><a routerLink="table" routerLinkActive="active" mat-button>Table</a></li>
          <li fxFlex="10"><a routerLink="poker" routerLinkActive="active" mat-button>Poker</a></li>
          <li fxFlex="10"><a routerLink="other" routerLinkActive="active" mat-button>Other</a></li>
        </ul>
      </div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
