@import 'src/styles/variables.scss';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 150px;
}

mat-sidenav-content {
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 60px;
    background-color: $wh-black;

    .navigation-items-container {
      height: 100%;

      .navigation-items {
        list-style: none;
        padding: 0;
        margin: 0;

        ul li {
          min-width: 10%;
        }

        a {
          display: inline-block;;
          text-decoration: none;
          height: 100%;
          width: 100%;
          color: $wh-white-2;
          border-radius: 0;
          font-size: 16px;
          padding-top: 10px;
          font-weight: 400;
        }

        a:hover,
        a:active {
          color: $wh-white-1;
          background-color: $wh-green;
        }

        .active {
          color: $wh-white-1;
          background-color: $wh-green;
        }
      }
    }
  }
}
